/* /////////////////// Toolbar */

.Toolbar-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 50px 200px 0px;
}

.Toolbat-link-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.Toolbat-link-wrapper a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.Toolbat-link-wrapper a::after{
  content: "";
  background-color: rgb(77, 5, 5);
  height: 3px;
  width: 0;
  margin: auto;
  display: block;
}

.Toolbat-link-wrapper a:hover::after{
  width: 100%;
  transition: width 0.3s linear;
}



/* ///////////////// header */

.Header-wrapper{
  padding: 100px 200px 0px;
  display: flex;
  gap: 450px;
}

.Header-intro-text{
  width: 20%;
}

.Header-intro-text h1{
  font-size: 40px;
}

.Header-intro-text p{
  width: 400px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}


/* ///////////////// about section */

.section-about-wrapper{
  padding: 100px 200px 0px;
  display: flex;
}

.section-about-text {
  padding: 0px 50px 35px 50px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.section-about-text > h2 {
  font-size: 40px;
}

.section-pros {
  display: flex;
  flex-wrap: wrap;
}

.section-pros > img {
  height: 24px;
  margin-top: 20px;
}

.section-pros h3 {
  font-size: 20px;
}


/* .animation{

} */


/* ////////////////// section features */

.section-features-wrapper{
  padding: 100px 200px 200px;
  display: flex;
  flex-direction: column;
}

.section-features-text{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.features-container{
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.features-card{
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 50px;
}

.features-card:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  border-bottom: #000000;
}

.features-card img{
  width: 55px;
  height: 56px;
}

div.features-card p {
  text-align: center;
  font-size: 15px;
}

/* .features-card h3{
  
} */

.circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.red{
  background-color: rgba(255, 0, 0, 0.178);
}

.yellow{
  background-color: rgba(255, 251, 0, 0.178);
}

.green{
  background-color: rgba(51, 255, 0, 0.178);
}

.purple{
  background-color: rgba(195, 0, 255, 0.178);
}

.arrow-button {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  border: none;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 10px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #017A4F;
  color: #fff;
}


.features-card {
  animation: bounce-in 2s linear 1;
}

.section-pricing-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 200px 200px;
}

.section-pricing-text {
  display: flex;
  justify-content: center;
}

.button-change-plans {
  display: flex;
  justify-content: center;
}

.pricing-card{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50px;
  width: 400px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.5s ease-out  ;
}

.pricing-card:hover{
  transform: translate(4px, 4px);
  transform: scale(1.1); 
  background-color: #42b5ee1e;
  border-left: 1px solid black; 
  border-right: 1px solid black; 
 }

.pricing-card h4{
  font-size: 25px;
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.pricing-card h3{
  font-size: 30px;
  margin: 0;
  padding-bottom: 40px;
}

.pricing-card button{
  background-color: rgba(0, 0, 255, 0.37);
  border: none;
  height: 50px;
  width: 150px;
  font-size: 18px;
}

.pricing-container{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

@keyframes bounce-in {
  0% {
      -webkit-transform: translateY(-300px) scale(0.3);
      transform: translateY(-300px) scale(0.3);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
  }

  32% {
      -webkit-transform: translateY(0) scale(1);
      transform: translateY(0) scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
  }

  46% {
      -webkit-transform: translateY(calc(-300px / 6));
      transform: translateY(calc(-300px / 6));
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  61% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
  }

  72% {
      -webkit-transform: translateY(calc(-300px / 12));
      transform: translateY(calc(-300px / 12));
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  81% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
  }

  87% {
      -webkit-transform: translateY(calc(-300px / 40));
      transform: translateY(calc(-300px / 40));
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  93% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
  }
}


.test{
  border: 1px solid black;
  padding: 10px;
  background-color: #017A4F;
}

.Review-card{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Review-card img{
  width: 100px;
  height: 100px;
}

.review-text{
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-review-wrapper{
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 50%; */
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 20px;
  border-top: 1px solid black;
}

.section-review-container{
  padding: 100px 200px 200px;
  display: flex;
  flex-wrap: wrap;
}

/* .section-review-container::-webkit-scrollbar {
  height: 3px;
} */

.section-review-wrapper::-webkit-scrollbar {
  height: 5px;
  background-color: #00E692;
  border-radius: 10px;
}

.section-review-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

.section-review-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}


/* ////////////// section news */

.sectiont-latestnews-wrapper {
  display: flex;
  padding: 100px 200px 200px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.news-card {
  width: 555px;
  border: 1px solid black;
  border-radius: 12px;
  height: auto;
}

.latestnews-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail{
  display: flex;
  justify-content: space-between;
  padding: 2px 20px 0px 20px;
}

.about{
  padding: 0px 20px 20px 20px;
}

.about h3{
  font-size: 22px;

}

.font{
  font-family: 'Montserrat', sans-serif;
}

.about span{
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42B4EE;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
}

div.news-card:nth-child(3) > div:nth-child(3) > a {
  text-decoration: none;
}

div.news-card:nth-child(2) > div:nth-child(3) > a {
  text-decoration: none;
}


/* /////////////////// footer */

.footer-wrapper{
  background-color: #051114;
}

.social-logos{
  display: flex;
  justify-content: space-around;
}

.footer-info{
  width: 330px;
  color: white;
}

.footer-nav{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 80px;
}

.footer-nav h3{
  margin-top: 0;
}

.footer-wrapper {
  display: flex;
  padding: 100px 200px 100px;
  gap: 200px;
}

.f-nav ul{
  list-style: none;
  padding: 0;
  line-height: 40px;
}


.send-email-container{
  width: 300px;
  height: auto;
}

.send-email-container > input {
  height: 30px;
}

.send-email-container > button {
  height: 36px;
  width: 70px;
  border: none;
  background-color: #42B4EE;
}

.newsletter-container{
  color: white;
}

.newsletter-container h3{
  margin-top: 0px;
}









/* /////////////////////////////////////  */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}



/* //////// test */
.animalCard{
  height: 50px;
}




/* /////////////// responsive */

@media screen and (max-width: 992px) {

}